// layout
.inner {
	margin: 0 auto;
	// max-width: 1440px;
}
.innerin {
	max-width: 1240px;
	margin: 0 auto;
}
.two-column {
	@include media-breakpoint-up(md) {
		columns: 2;
		-webkit-columns: 2;
		-moz-columns: 2;
	}
}
.font-style-normal {
	font-style: normal !important;
}
// Colors
$light_blue: #38B7F5;
$main_blue: #33A6DE;
$gray: #454D58;
$medium_gray: #AAB6C6;
$light_gray: #F2F5F8;
$dark_blue: #00194D;
$darker_blue: #0A223A;
$light_gray: #F2F5F8;
$diff_blue: #123D68;
$banner_blue: #1A4F87;
$red: #EB5757;

.blue-gradient {
	background: rgb(26,79,135);
	background: -moz-linear-gradient(90deg, rgba(26,79,135,1) 0%, rgba(0,25,77,1) 100%);
	background: -webkit-linear-gradient(90deg, rgba(26,79,135,1) 0%, rgba(0,25,77,1) 100%);
	background: linear-gradient(90deg, rgba(26,79,135,1) 0%, rgba(0,25,77,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#1a4f87",endColorstr="#00194d",GradientType=1);
}
// Fonts
$open: "Open Sans", sans-serif;
$lexend: "Lexend", sans-serif;

// Image paths
$global: "assets/images/global";
$home: "assets/images/home";

// Mixings
// mixins
@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}

$n: 4;
@for $i from 1 through $n {
	$padding: 50px * $i;
	.pt-#{$i * 50} {
		padding-top: $padding;
	}
	.pb-#{$i * 50} {
		padding-bottom: $padding;
	}
	.py-#{$i * 50} {
		padding-top: $padding;
		padding-bottom: $padding;
	}
}

// Clasess
.font-open-sans {
	font-family: $open;
}
.font-lexend {
	font-family: $lexend;
}
.font-16 {
	font-size: 16px;
}
.font-18 {
	font-size: 18px;
	line-height: 24px;
}
.font-20 {
	font-size: 20px !important;
}
.font-24 {
	font-size: 24px !important;
}
.font-30 {
	font-size: 30px !important;
	line-height: 36px;
}
.font-36 {
	font-size: 36px;
	line-height: 40px;
}
.font-40 {
	font-size: 40px !important;
	line-height: 48px;
}
.font-48 {
	font-size: 48px;
	line-height: 52px;
}
.font-bold {
	font-weight: 600;
}
.font-medium {
	font-weight: 400 !important;
}
.font-normal {
	font-weight: 300 !important;
}
.line-height-36 {
	line-height: 36px !important;
}

// COlors and backgrounds
.bg-dark-blue {
	background: $dark_blue;
}
.bg-darker-blue {
	background: $darker_blue;
}
.bg-light-gray {
	background: $light_gray;
}
.bg-diff-blue {
	background: $diff_blue;
}
.color-main-blue {
	color: $main_blue;
}
.color-light-blue {
	color: $light_blue;
}
// buttons
.btn {
	border-radius: 5px;
	padding: 10px 30px;
	@extend .font-lexend;
	&.btn-blue {
		color: $white;
		background: $main_blue;
		border: 1px solid $main_blue;
		transition: all .2s ease-out;
		&:hover {
			transition: all .2s ease-out;
		}
	}
	&.on-dark {
		&:hover {
			background: transparent;
			border: 1px solid $white;
		}
	}
	&.hollow-bg {
		background: transparent;
		color: $main_blue;
		&:hover {
			background: $main_blue !important;
			color: $white !important;
		}
	}
	&.on-light {
		&:hover {
			background: transparent;
			color: $main_blue;
		}
	}
}
.has-shadow {
	box-shadow: 0 20px 33px 0 rgba(0,0,0,.15);
}
.has-shadow-alternate {
	box-shadow: 0px 33px 67px #0A223A;
}
// Slider arrows and dots
.slider-component-container {
		display: flex;
		align-items: center;
		justify-content: center;
		.dots-container {
			font-size: 0;
			padding: 60px 0;
			.slick-dots {
				padding: 0;
				margin: 0 10px;
				li {
					list-style: none;
					padding: 0;
					margin: 0 8px;
					display: inline-block;
					&:before {
						display: none;
					}
					button {
						cursor: pointer;
						display: block;
						width: 12px;
						height: 12px;
						border-radius: 50%;
						position: relative;
						outline: none;
						border: none;
						font-size: 0;
						background: #DFE7F2;;
					}
					&.slick-active {
						button {
							background: $main_blue;
						}
					}
				}
			}
		}
		.slick-arrow {
			background: none;
			border: none;
			outline: none;
			font-size: 0;
			cursor: pointer;
			border-radius: 50%;
			display: block;
			height: 30px;
			width: 30px;
			transition: all .2s ease-out;
			svg {
				path {
					transition: all .2s ease-out;
				}
			}
			&.slick-disabled {
				opacity: .3;
				cursor:not-allowed;
			}
			&:not(.slick-disabled) {
				&:hover {
					transition: all .2s ease-out;
					background: $main_blue;
					svg {
						path {
							transition: all .2s ease-out;
							fill: $white;
						}
					}
				}
			}
		}
	}