body.login {
	background: #fff;
}
.login h1 a {
	background: url( ../images/admin-logo.png ) no-repeat;
	background-size: 100% auto;
	width: 320px;
	height: 63px;
	text-indent: -9999px;
	outline: 0;
	overflow: hidden;
	padding-bottom: 18px;
	display: block;
	margin: 0 auto;
	/* background-size: cover; */
}
#loginform input[type="submit"] {
	background: #33A6DE;
	border: none;
}
#loginform input[type=checkbox]:focus, input[type=color]:focus, input[type=date]:focus, input[type=datetime-local]:focus, input[type=datetime]:focus, input[type=email]:focus, input[type=month]:focus, input[type=number]:focus, input[type=password]:focus, input[type=radio]:focus, input[type=search]:focus, input[type=tel]:focus, input[type=text]:focus, input[type=time]:focus, input[type=url]:focus, input[type=week]:focus, select:focus, textarea:focus {
	border-color:  #33A6DE;
	box-shadow: 0 0 0 1px #33A6DE;;
}
