/*!
Theme Name: Big Splash Web Design
Author: Big Splash Web Design
*/
@import '../../node_modules/bootstrap/scss/bootstrap';
@import 'variables';

* {
	min-width: 0;
	min-height: 0;
}
html {
  height: -webkit-fill-available;
	height: 100%;
}

body {
	font-family: $open;
	font-size: 16px;
	height: 100%;
	font-weight: 400;
	color: $gray;
	a {
		color: $main_blue;
	}
	@include media-breakpoint-down(lg) {
		&.active {
			overflow: hidden !important;
		}
	}
}

// Classes
.bg-blue-gradient {
	@extend .blue-gradient;
}
.site-header {
	.logo__desktop {
		@include media-breakpoint-up(lg) {
			position: relative;
			.google-translate-dropdown {
				position: absolute;
				right: 5px;
				bottom: 20px;
			}
		}
	}
	.logo-mobile {
		position: absolute;
		top: 56px;
		left: 0;
		width: 100%;
		padding: 20px 0;
		.mobile-logo-img {
			max-width: 280px !important;
		}
	}
	.mobile-menu-wrapper {
		width: 100%;
		position: absolute;
		top: 10;
		z-index: 10;
		@extend .blue-gradient;
		//mobile menu
		#mobile-menu {
			width: 40px;
			height: 40px;
			padding: 8px;
			background: none;
			border: none;
			outline: none;
			margin-left: 10px;
			cursor: pointer !important;
			.bar {
				display: block;
				width: 100%;
				height: 3px;
				background: $white;
				border-radius: 1px;
				margin-bottom: 5px;
				transform-origin: center center;

				&.__bottom {
					margin-bottom: 0;
				}
			}
			&.active {
				.bar {
					margin-bottom: 0;
					transform-origin: center center;
					&.__top {
						transform: rotate(45deg) translate3d(2px, 2px, 0);
					}
					&.__middle {
						opacity: 0;
					}
					&.__bottom {
						transform: rotate(-45deg) translate3d(2px, -2px, 0);
					}
				}
			}
		}
		@include media-breakpoint-up(lg) {
			background: none !important;
		}
	}
	.main-navigation {
		
		@include media-breakpoint-down(md) {
			width: 100%;
			position: absolute;
			top: 0;
			z-index: 1;
			padding: 86px 0 60px 0;
			transform: translate3d(0, -20px, 0);
			transition: all .1s ease-out;
			visibility: hidden;
			opacity: 0;
			&.active {
				transform: translate3d(0, 0, 0);
				visibility: visible;
				opacity: 1;
				transition: all .2s ease-out;
			}
		}
		.main-navigation__container {
			.main-navigation__nav {
				margin-bottom: 0;
				padding-left: 0;
				width: 100%;
				.menu-item {
					list-style: none;
					display: block;
					
					&.menu-item-has-children {
						position: relative;
						a {
							padding: 12px 5px 12px 15px;
							@include media-breakpoint-up(lg) {
								padding: 5px 0;
								&:hover {
									transition: all .2s ease-out;
								}
							}
						}
						button {
							background: none;
							border: none;
							outline: none;
							transition:  all .2s ease-out;
							transform: rotate(0deg);
							margin-left: 5px;
							cursor: pointer;
							&.active {
								transform: rotate(180deg);	
							}
							@include media-breakpoint-down(md) {
								margin-left: 0;	
							}
						}
						.sub-menu__wrapper {
							width: 100%;

							.sub-menu {
								background: $dark_blue;
								font-size: 0;
								padding-left: 0;
								padding: 30px 20px;
								width: 100%;
								li {
									white-space: nowrap;
									padding: 0;
									width: 100%;
									display: block;
									a {
										font-size: 16px;
										display: block;
										padding: 12px 0;
										transition: all .2s ease-out;
										&::after {
											display: none;
										}
										@include media-breakpoint-up(lg) {
											padding: 12px 15px;
											border-radius: 5px;
											&:hover {
												background: $main_blue;
											}
										}
									}
								}

								@include media-breakpoint-up(lg) {
									width: auto;
								}
							}

							@include media-breakpoint-up(lg) {
								width: auto;
								position: absolute;
								top: 100%;
								left: 0;
								padding: 7px 0 0;
								transform: translate(-20px, 0px);
								z-index: 100;
								// &.collapse {
								// 	display: none;
								// }
							}
						}
						// @include media-breakpoint-up(lg) {
						// 	&:hover {
						// 		.sub-menu__wrapper {
						// 			display: block;
						// 		}
						// 	}
						// }
					}
					a {
						font-family: $lexend;
						color: $white;
						font-weight: 400;
						position: relative;
						padding: 15px 15px;
						display: inline-block;
						&:hover {
							text-decoration: none;
						}
						@include media-breakpoint-up(lg) {
							padding: 5px 0;
							display: inline;
							&::after {
								content: '';
								display: block;
								width: 100%;
								height: 2px;
								background: $main_blue;
								position: absolute;
								left: 0;
								bottom: 0px;
								z-index: 10;
								transition: all .2s ease-out;
								transform: scaleX(0);
								transform-origin: left center;
							}
							&:hover {
								text-decoration: none;
								&::after {
									transform: scaleX(1);
								}
							}
						}
					}
					@include media-breakpoint-up(lg) {
						display: inline-block;
						padding: 15px 0;
						&:not(:last-child) {
							margin-right: 30px;
						}
						&:hover {
							// font-weight: 600;
							text-decoration: none;
							transition: all .2s ease-out;
							&::after {
								transition: all .2s ease-out;
								transform: scaleX(1);
							}
						}
						
					}
					@include media-breakpoint-up(xl) {
						&:not(:last-child) {
							margin-right: 40px;
						}
					}
				}

				@include media-breakpoint-up(lg) {
					width: auto;
				}
			}

			@include media-breakpoint-up(lg) {
				padding-top: 8px;
				padding-bottom: 8px;
			}
		}

		.contact-nav {
			.contact-nav-menu {
				margin: 0;
				padding: 0;
				.contact-nav-menu__item {
					list-style: none;
					a {
						color: $white;
						&:hover {
							text-decoration: none;
						}
					}
					&.phone {
						a {
							font-weight: 600;
						}
					}
					&.book {
						margin: 40px 15px;
						a {
							background: $main_blue;
							border-radius: 5px;
							padding: 12px 25px;
							border: 1px solid $main_blue;
							transition: all .1s ease-out;
							&:hover {
								transition: all .1s ease-out;
								background: transparent;
								border: 1px solid $white;
							}
						}
						@include media-breakpoint-up(lg) {
							margin: 0 0 0 15px;
						}
					}
					@include media-breakpoint-up(lg) {
						display: inline-block;
					}
				}
			}
		}
	}
	@include media-breakpoint-up(lg) {
		// background: $white !important;
	}
} //site header


// Homepage
.site-content {
	@include media-breakpoint-down(md) {
		padding-top: 140px;
	}
}
.section--hero {
	// padding-top: 60px;
	// padding-bottom: 60px;
	.section--hero__text {
		padding-top: 100px;
		padding-bottom: 100px;
		background: url(#{$home}/Laurel.svg) center center/contain no-repeat;
	}
	// @include media-breakpoint-up(xl) {
	// 	padding-bottom: 60px;
	// }
}

.section--specialties {
	padding-top: 50px;
	padding-bottom: 50px;
	.direct-shop {
		a {
			color: $main_blue;
			text-decoration: none;
			border-bottom: 1px solid $main_blue;
			transition: all .1s ease-out;
			&:hover {
				transition: all .1s ease-out;
				border-bottom: 1px solid transparent;
			}
		}
	}
	.service-link {
		margin-bottom: 20px;
		display: flex;
		align-items: stretch;
		min-height: 100px;
		a {
			width: 100%;
			background: $main_blue;
			border-radius: 4px;
			padding: 20px 28px;
			transition: all .2s ease-out;
			transform: translateY(0px);
			position: relative;
			overflow: hidden;
			&:after {
				content: '';
				display: block;
				height: 100%;
				width: 100%;
				position: absolute;
				z-index: 0;
				opacity: 0;
				transition: all .2s ease-out;
				@extend .bg-blue-gradient;
			}
			span {
				position: relative;
				z-index: 1;
			}
			&:hover {
				transition: all .2s ease-out;
				text-decoration: none;
				&::after {
					opacity: 1;
					transition: all .2s ease-out;
				}
			}
		}

		@include media-breakpoint-up(lg) {
			margin-bottom: 30px;
		}
	}
	@include media-breakpoint-up(md) {
		padding-top: 100px;
		padding-bottom: 100px;
	}
}

footer {
	.footer-heading {
		border-bottom: 1px solid $white;
		padding-bottom: 20px;
	}
	.footer-phone {
		padding-left: 20px;
		display: flex;
		svg {
			margin-top: 5px;
			margin-right: 10px;
		}
		@include media-breakpoint-up(lg) {
			a {
				border-bottom: 1px solid transparent;
				&:hover {
					text-decoration: none;
					border-bottom: 1px solid $white;
				}
			}
		}
	}
	.footer-address {
		padding-left: 20px;
		display: flex;
		svg {
			margin-top: 5px;
			margin-right: 10px;
		}
	}
	.footer-menu {
		li {
			list-style: none;
			margin-bottom: 1.5rem;
			a {
				font-family: $lexend;
				color: $white;
			}
			@include media-breakpoint-between(lg, xl) {
				flex-basis: 100%;
			}
		}
		&.specialties-pages {
		 
			@include media-breakpoint-between(lg, xl) {
				max-height: 100%;
				flex-wrap: nowrap;
			}
			@include media-breakpoint-up(xl) {
				display: flex;
				flex-direction: column;
				flex-wrap: wrap;
				max-height: 260px;
			}
		}
		@include media-breakpoint-up(lg) {
			a {
				border-bottom: 1px solid transparent;
				&:hover {
					text-decoration: none;
					border-bottom: 1px solid $white;
				}
			}
		}
	}
	@include media-breakpoint-up(lg) {
		a {
			&:not(.btn):not(.facebook_icon):not(.footer-logo) {
				border-bottom: 1px solid transparent;
				&:hover {
					text-decoration: none;
					border-bottom: 1px solid $white;
				}
			}
		}
	}
}

// section why
.section--why {
	padding-top: 60px;
	padding-bottom: 60px;
	.why-video {
		.why-video__link {
			display: block;
			position: relative;
			svg {
				visibility: hidden;
				opacity: 0;
				transition: all .2s ease-out;
				position: absolute;
				left: 50%;
				top: 50%;
				transform: translate(-50%, -50%);
				z-index: 10;
			}
			&::before {
				content: '';
				width: 100%;
				height: 100%;
				background: rgba(0,0,0,.35);
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				opacity: 0;
				visibility: hidden;
				transition: all .2s ease-out;
			}
			&:hover {
				svg, &:before {
					transition: all .2s ease-out;
					visibility: visible;
					opacity: 1;
				}
			}
		}
	}
	.check {
		.check__content {
			display: block;
			padding: 0 10px;
			svg, span {
				width: 100%;
			}
			svg {
				margin-bottom: 10px;
			}
			@include media-breakpoint-up(lg) {
				display: block;
				padding: 0 20px;	
				&.left {
					flex-basis: 40%;
				}
				&.right {
					flex-basis: 50%;
				}
			}
		}
	}
	@include media-breakpoint-up(lg) {
		padding-top: 100px;
		padding-bottom: 100px;
	}
}
// section helpdesk
.section--helpdesk {
	padding-top: 60px;
	padding-bottom: 60px;
	.see-all {
		border-bottom: 1px solid $main_blue;
		transition: all .2s ease-out;
		color: $main_blue;
		&:hover {
			text-decoration: none;
			color: $dark_blue;
			border-bottom: 1px solid transparent;
			transition: all .2s ease-out;
		}
	}
	.article__title {
		@include media-breakpoint-between(md, lg) {
			font-size: 20px !important;
			line-height: 24px !important;
		}
	}
	
	@include media-breakpoint-up(lg) {
		padding-top: 100px;
		padding-bottom: 100px;
	}
}
// Articles

.article-wrapper {
		.article {
			display: block;
			background: $main_blue;
			border-radius: 4px;
			overflow: hidden;
			padding: 20px 25px;
			position: relative;
			transition: all .2s ease-out;
			margin-bottom: 20px;
			&:hover {
				text-decoration: none;
			}
			.article__title,
			.article__arrow {
				position: relative;
				z-index: 10;
			}
			.article__title {
				display: block;
				line-height: 30px;

				@include media-breakpoint-up(md) {
					max-width: 80%;
					line-height: 24px;
				}
				@include media-breakpoint-up(lg) {
					display: inline-block;
					line-height: 30px;
				}
 			}
			.article__arrow {
				position: absolute;
				right: 25px;
				bottom: 20px;
				svg {
					transform-origin: right bottom;
					transform: scale(0.6);
					transition: all .2s ease-out;
				}
				@media (min-width: 576px) and (max-width: 991px) {
					display: block;
					height: 16px;
					width: 16px;
					padding: 0;
					margin: 0;
					top: calc(50% - 8px);
					font-size: 0;
					transform: translateY(-50%);
				}
				@include media-breakpoint-up(lg) {
					position: absolute;
					right: 25px;
					bottom: 20px;
				}
			}
			&:before {
				content: '';
				@extend .bg-blue-gradient;
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				height: 100%;
				opacity: 0;
				z-index: 1;
				visibility: hidden;
				transition: all .2s ease-out;
			}

			@include media-breakpoint-up(lg) {
				min-height: 190px;
				&:hover {
					height: 100%;
					text-decoration: none;
					transition: all .2s ease-out;
					.article__arrow {
						svg {
							transform-origin: right bottom;
							transition: all .2s ease-out;
							transform: scale(1);
						}
					}
					&:before {
						transition: all .2s ease-out;
						opacity: 1;
						visibility: visible;
					}
				}
			}

		
			@include media-breakpoint-up(lg) {
				height: calc(100% - 20px);
			}
		}

		@include media-breakpoint-up(lg) {
			min-height: 210px;
		}
	}
// Section callout
.section--callout {
	padding-top: 60px;
	padding-bottom: 60px;
	background: $light_gray url(#{$home}/Laurel-darker.svg) center center/90% auto no-repeat;
	.contact-btn {
		padding: 10px 60px;
	}
	a:not(.btn) {
		color: $gray;
		border-bottom: 1px solid transparent;
		&:hover {
			color: $main_blue;
			text-decoration: none;
			border-bottom: 1px solid $main_blue;
		}
	}
	.dot {
		position: relative;
		height: 20px !important;
		width: 16px;
		&:before {
			content: '\00B7';
			font-size: 40px;
			height: 30px;
			width: 16px;
			position: absolute;
			top: -2px;
			transform: translateY(-50%);
			left: 0;
		}
	}
	@include media-breakpoint-up(lg) {
		padding-top: 100px;
		padding-bottom: 100px;
		background-size: 600px auto !important;
	}
}

// Video Modal
.video-btn {
	display: block;
	position: relative;
	
	svg {
		visibility: hidden;
		opacity: 0;
		transition: all .2s ease-out;
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		z-index: 10;
	}
	&::before {
		content: '';
		width: 100%;
		height: 100%;
		background: rgba(0,0,0,.35);
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		opacity: 0;
		visibility: hidden;
		transition: all .2s ease-out;
	}
	&:hover {
		svg, &:before {
			transition: all .2s ease-out;
			visibility: visible;
			opacity: 1;
		}
	}
}
.modal-backdrop.show {
	opacity: .75;
}
button.modal-dismiss {
	position: fixed !important;
	top: 5px;
	right: 5px;
	z-index: 9999;
	width: 40px;
	height: 40px;
	outline: none;
	border: none;
	opacity: 1 !important;
	&:hover {
		opacity: 1 !important;
	}
	> span {
		display: block;
		background: none !important;
		color: $white !important;
		position: relative;
		width: 40px;
		height: 40px;
		&:before, &::after {
			content: '';
			width: 30px;
			height: 2px;
			background: $white;
			position: absolute;
		}
		&:before {
			transform: rotate(45deg);
			top: 18px;
			left: 5px;
		}
		&:after {
			transform: rotate(-45deg);
			top: 18px;
			left: 5px;
		}
	}
}

// Subpages
.subpage-banner {
	position: relative;
	padding-top: 70px;
	padding-bottom: 70px;
	background-position: calc(100% + 180px) 50%;
	background-repeat: no-repeat;
	background-size: auto 100%;
	&:before {
		content: '';
		display: block;
		height: 100%;
		width: 70%;
		position: absolute;
		left: 0;
		top: 0;
		bottom: 0;
		background: linear-gradient(88.1deg, #1A4F87 42.15%, rgba(0, 25, 77, 0) 96.8%);
	}
	@include media-breakpoint-up(lg) {
		background: right center;
		background-size: auto 100%;
	}
}
// Page 404
.page-404 {
	padding-top: 160px;
	padding-bottom: 160px;
	text-align: center;
	.heading-404 {
		font-size: 60px;
		@include media-breakpoint-up(sm) {
			font-size: 80px;
		}
		@include media-breakpoint-up(lg) {
			font-size: 120px;
		}
	}
}
// About us page
.section__who-we-are {
	padding-top: 80px;
	padding-bottom: 80px;
	@include media-breakpoint-up(lg) {
		padding-top: 100px;
		padding-bottom: 100px;
	}
}
.blue-bulleted-list {
	li {
		flex-basis: 100%;
		list-style: none;
		position: relative;
		// margin: 10px 0;
		padding: 8px 0 8px 20px;
		&:before {
			content: '';
			display: block;
			height: 6px;
			width: 6px;
			position: absolute;
			top: 17px;
			border-radius: 100%;
			background: $main_blue;
			left: 0;
		}
		@include media-breakpoint-up(sm) {
			flex-basis: 50%;
			padding-left: 20px;
		}
	}
}
.section--why__subpage {
	a {
		color: $main_blue;
		border-bottom: 1px solid transparent;
		&:hover {
			border-bottom: 1px solid $main_blue;
			text-decoration: none;
		}
	}
	.values, .state-container {
		ul {
			display: flex;
			flex-wrap: wrap;
			padding-left: 0;
			padding-inline-start: 0;
			li {
				flex-basis: 100%;
				list-style: none;
				position: relative;
				margin: 10px 0;
				padding-left: 20px;
				&:before {
					content: '';
					display: block;
					height: 6px;
					width: 6px;
					position: absolute;
					top: 10px;
					border-radius: 100%;
					background: $main_blue;
					left: 0;
				}
				@include media-breakpoint-up(sm) {
					flex-basis: 50%;
					padding-left: 20px;
				}
			}
			@include media-breakpoint-up(lg) {
				padding-left: 0px;
			}
		}
	}
}
.section__licensed {
	padding-top: 60px;
	padding-bottom: 60px;
	.state-container {
		.state-list {
			margin-top: 40px;
			margin-bottom: 0;
			padding-left: 0;
			padding-inline-start: 0;
			column-count: 2;
			column-gap: 0;
			li {
				margin: 0 0;
				&:before {
					top: 18px;
				}
			}
			@include media-breakpoint-up(sm) {
				column-count: 2;
				column-gap: 0;
			}
			@include media-breakpoint-up(md) {
				column-count: 3;
				column-gap: 0;
			}
		}
	}
	@include media-breakpoint-up(lg) {
		padding-top: 100px;
		padding-bottom: 100px;
	}
}

// Contact page
.section--contact {
	padding-top: 60px;
	padding-bottom: 60px;
	.contact-list {
		padding-left: 0;
		padding-inline-start: 0;
		li {
			margin: 1rem 0;
			list-style: none;
			color: $white;
			font-family: $lexend;
			display: flex;
			padding-left: 0;
			&::before {
				display: none;
			}
			.contact-icon {
				flex-shrink: 0;
				width: 14px;
				flex-basis: 14px;
				margin-right: 15px;
			}
			.contact-info {
				font-weight: 400;
				line-height: 1.75;
				a {
					color: $white;
					border-bottom: 1px solid transparent;
					transition: all .1s ease-out;
					&:hover {
						transition: all .1s ease-out;
						text-decoration: none;
						border-bottom: 1px solid $white;
					}
				}
				&.direction {
					a {
						font-weight: 600;
						border-bottom: 1px solid $white;
						&:hover {
							border-bottom: 1px solid transparent;
						}
					}
				}
			}
		}
	}
	.contact-form-wrapper {
		border-radius: 11px;
		box-shadow: 0px 33px 67px #0A223A;
		padding: 20px 30px;
		.validation_error {
			color: $red;
			border: none;
			margin-bottom: 0 !important;
		}
		form {
			label {
				font-size: 12px;
				color: $gray;
				font-weight: 400;
				margin-bottom: 0;
				padding-left: 17px;
			}
			.gfield {
				.gfield_required {
					color: $red;
				}
				&:before {
					display: none;
					padding-left: 0;
					background: none !important;
				}
				// max-width: 100% !important;
				// padding-right: 0 !important;
				&.gfield_error {
					background: none;
					border: none;
					// max-width: 100% !important;
					// &.gf_left_half {
					// 	margin-right: 0 !important;
					// 	width: calc(50% - 16px);
					// }
					.validation_message {
						color: $red;
						font-weight: normal;
						padding: 5px 0 0;
					}
					.ginput_container_name {
						label {
							color: $red !important;
						}
					}
					textarea,
					input {
						border-color: $red !important;
					}
					label {
						color: $red;
					}
				}
			}
			input[type=text],
			input[type=email],
			input[type=tel],
			textarea {
				color: $gray;
				border: 1px solid $medium_gray;
				border-radius: 3px !important;
				padding: 7px 17px !important;
				transition: all .2s ease-out;
				&:focus {
					outline: none;
					border: 1px solid $main_blue;
					transition: all .2s ease-out;
				}
			}
			.gform_footer {
				text-align: center;
				input[type=submit] {
					font-size: 16px;
					color: white;
					background: $main_blue;
					border-radius: 3px;
					outline: none;
					appearance: none;
					padding: 10px 50px;
					border: 1px solid transparent;
					font-family: $lexend;
					cursor: pointer;
					transition: all .2s ease-out;
					&:hover {
						transition: all .2s ease-out;
						background: transparent;
						color: $main_blue;
						border: 1px solid $main_blue;
					}
				}
			}
		}
		@include media-breakpoint-up(lg) {
			padding: 20px 40px;
		}
	}
	@include media-breakpoint-up(lg) {
		padding-top: 100px;
		padding-bottom: 100px;
	}
}
.section--appointment {
	padding-top: 60px;
	padding-bottom: 60px;
	.appointment-block {
		padding: 20px 30px;
		border-radius: 11px;
		border: 1px solid #AAB6C6;
		margin-bottom: 30px;
		
		@include media-breakpoint-up(lg) {
			padding: 40px 50px;
			margin-bottom: 0;
		}
	}
	@include media-breakpoint-up(lg) {
		padding-top: 100px;
		padding-bottom: 100px;
	}
}

// Help Desk Page
.section--articles {
	padding-top: 40px;
	padding-bottom: 40px;
	.helpdesk-article {
		.article__title {
			line-height: 30px;
			a {
				color: $gray;
				transition: all .2s ease-out;
				&:hover {
					color: $main_blue;
					transition: all .2s ease-out;
					text-decoration: none;
				}
			}
		}
	}
	
	@include media-breakpoint-up(lg) {
		padding-top: 100px;
		padding-bottom: 100px;
	}
}

.block-container,
.article-container {
		
		article {
			border-radius: 11px;
			border: 1px solid #AAB6C6;
			padding: 30px;
			@include media-breakpoint-up(lg) {
				padding: 40px 50px;
			}
		}
		#article-container {
			.slick-list {
				.slick-track {
					display: flex;
					align-items: stretch;
					justify-content: stretch;	
				}
			}
			.slick-slide {
				// display: inline-block;
				flex: 1;
				height: 100%;
				article {
					margin-bottom: 1rem;
				}
			}
		}
}

.sidebar {
	.sidebar-heading {
		border-bottom: 1px solid $medium_gray;
		padding-bottom: 20px;
		margin: 0;
	}
	.video-list {
		padding-left: 0;
		padding-inline-start: 0;
		margin: 1rem 0;
		li {
			list-style: none;
			padding-left: 0;
			margin: 0 0;
			&:before {
				display: none;
			}
			a {
				font-family: $lexend;
				font-weight: 600;
				display: block;
				padding: 15px 20px;
				color: $main_blue;
				transition: all .2s ease-out;
				&:hover {
					text-decoration: none;
					background: $main_blue !important;
					color: $white;
					transition: all .2s ease-out;
				}				
			}	
			&:nth-child(even) {
				a {
					background: $light_gray;
				}
			}			
		}
	}
}
.entry-content {
	ol {
		padding-inline-start: 20px;
		margin-top: 1.5rem;
		margin-bottom: 1.5rem;
		li {
			margin: .75rem 0;
		}
	}
	ul {
		padding-inline-start: 0;
		margin-top: 1.5rem;
		margin-bottom: 1.5rem;
		li {
			list-style: none;
			padding-left: 20px;
			margin: .75rem 0;
			position: relative;
			&::before {
				content: '';
				height: 6px;
				width: 6px;
				display: block;
				background: $main_blue;
				border-radius: 100%;
				position: absolute;
				left: 0;
				top: 10px;
			}
		}
	}
}
// Single article
.service-subpage__content,
.entry-content__article {
	h1, h2, h3, h4, h5 {
		font-family: $lexend;
		margin-top: 2.5rem;
		margin-bottom: 1rem;
	}
	h2 {
		font-size: 30px;
		line-height: 36px;
	}
	h3 {
		font-size: 24px;
		line-height: 30px;
	}
	h4 {
		font-weight: 600;
		text-transform: uppercase;
		font-size: 16px;
		line-height: 24px;
		&.related-article-heading {
			font-size: 36px;
			text-transform: none;
			font-weight: 400;
			border-top: 1px solid $medium_gray;
			padding-top: 40px;
		}
	}
	ol {
		margin-top: 3rem;
		margin-bottom: 3rem;
		padding-left: 1rem;
		li {
			margin-bottom: 1rem;
		}

		@include media-breakpoint-up(lg) {
			padding-left: 5rem;
		}
	}
	ul {
		margin-top: 3rem;
		margin-bottom: 3rem;
		li {
			list-style: none;
			padding-left: 1rem;
			position: relative;
			margin-bottom: 1rem;
			&:before {
				content: '';
				height: 6px;
				width: 6px;
				border-radius: 100%;
				display: inline-block;
				background: $main_blue;
				margin-top: -1px;
				position: absolute;
				top: 10px;
				left: 0;
			}
		}
		@include media-breakpoint-up(lg) {
			padding-left: 4rem;
		}
	}
	a {
		&.btn {
			&.btn-blue {
				color: $white;
			}
			&.on-light {
				&:hover {
					color: $main_blue;
				}
			}
		}
	}

	.article-callout {
		margin-top: 60px;
		margin-bottom: 100px;
	}

	.related-articles-slider {
		overflow-x: hidden;
		.slick-list {
			font-size: 0;
			margin: 0 -15px;
			.slick-track {
				font-size: 0;
				.slick-slide {
					vertical-align: top;
					display: inline-block;
					font-size: 0;
					margin: 0 15px;
					.article-wrapper {
						min-height: auto;
						vertical-align: top;
						.article {
							vertical-align: top;
							min-height: 200px;
							margin-bottom: 0;
						}
					}
				}
			}
		}
	}
}
.service-article {
	h1, h2, h3, h4 {
		font-family: $lexend !important;
	}
	ul {
		@include media-breakpoint-up(lg) {
			padding-left: 3rem;
		}
	}
	ol {
		@include media-breakpoint-up(lg) {
			padding-left: 4rem;
		}
	}
	h4 {
		margin-bottom: 1rem;
	}

	&.__final-expense,
	&.__annuity,
	&.__msa {
		h4 {
			font-size: 16px;
			text-transform: uppercase;
			font-weight: 600;
			margin-bottom: 10px;
			margin-top: 40px;
		}
	}
}
// Service subpages
.section__subpage,
.section__blocks,
.section__advantage {
	padding-top: 60px;
	padding-bottom: 60px;
	@include media-breakpoint-up(lg) {
		padding-top: 50px;
		padding-bottom: 50px;
	}
}
.section__advantage {
	@include media-breakpoint-up(lg) {
		padding-top: 100px;
		padding-bottom: 80px;
	}
}
.section__blocks {
	&.group__insurance {
		@include media-breakpoint-up(lg) {
		padding-top: 80px;
		padding-bottom: 60px;
		}
	}
}
.has-blue-bullets {
	ul {
	
		li {
			list-style: none;
			padding-left: 1rem;
			position: relative;
			margin-bottom: 1rem;
			&:before {
				content: '';
				height: 6px;
				width: 6px;
				border-radius: 100%;
				display: inline-block;
				background: $main_blue;
				margin-top: -1px;
				position: absolute;
				top: 10px;
				left: 0;
			}
		}
	}
}
.section__accordion {
	.accordion-container {
		.card {
			border-radius: 0 !important;
			border: none !important;
			.card-header {
				margin-bottom: 10px;
				background: $light_gray;
				border-bottom: 0;
				position: relative;
				border-radius: 0 !important;
				button {
					font-family: $lexend;
					font-size: 18px;
					padding: 0;
					font-weight: 600;
					color: $gray;
					cursor: pointer;
					&:active,
					&:visited,
					&:focus,
					&:hover {
						text-decoration: none;
					}
					&.accordion-arrow {
						display: flex;
						width: 30px;
						height: 30px;
						outline: none;
						border: none;
						background: none;
						position: absolute;
						right: 10px;
						top: 50%;
						transform: translateY(-50%);
						line-height: 30px;
						align-items: center;
						justify-content: center;
						text-align: center;
						svg {
							transform: rotate(180deg);
							path {
								fill: $gray;
							}
						}
						&[aria-expanded=true] {
							svg {
								transform: rotate(0deg);
							}
						}
					}
				}

			}
			.card-body {
				padding-top: 30px;
				padding-bottom: 30px;
				.card-body-wrapper {
					h4 {
						font-family: $lexend;
						font-size: 24px;
						margin-bottom: 1rem;
					}
					ul {
						li {
							list-style: none;
							padding-left: 1rem;
							position: relative;
							margin-bottom: 1rem;
							&:before {
								content: '';
								height: 6px;
								width: 6px;
								border-radius: 100%;
								display: inline-block;
								background: $main_blue;
								margin-top: -1px;
								position: absolute;
								top: 10px;
								left: 0;
							}
						}
					}
				}
			}
		}
	}
}
.blue-box {
	margin-top: 30px;
	background-color: $light_gray;
	padding: 30px;
	h5 {
		font-size: 20px;
		font-family: $lexend;
		font-weight: 500;
		margin-bottom: 1rem;
	}
	&.in-under-65 {
		@include media-breakpoint-up(lg) {
			max-width: 80%;
		}
	}
}
.section__footnote {
	p {
		font-style: italic;
	}
}


// Page Life Insurance
.quote-container {
	blockquote {
		color: $main_blue;
		font-style: italic;
		font-weight: 300;
		font-size: 24px;
		line-height: 36px;

		@include media-breakpoint-up(lg) {
			font-size: 30px;
			line-height: 44px;
		}
	}
	@include media-breakpoint-up(lg) {
		max-width: 80%;
		float: right;
	}
}
.page__life-insurance {
	@include media-breakpoint-up(lg) {
		padding-top: 100px;
	}
}
.section__tabs {
	margin-top: 100px;
	margin-bottom: 60px;
	.nav-tabs {
		border-bottom: 0;
		flex-wrap: nowrap;
		max-width: 100%;
		overflow-x: auto;
		overflow-y: hidden;
	}
	.tab-pane {
		border: 1px solid $medium_gray;
		// transform: translateX(-1px);
	}
	.nav-link {
		background: $light_gray;
		border: 1px solid $medium_gray;
		font-family: $lexend;
		color: $gray;
		border-top-left-radius: 0;
    border-top-right-radius: 0;
		position: relative;
		border-bottom: 1px solid transparent;
		padding: 8px 20px;
		min-width: auto;
		white-space: nowrap;
		&:hover,
		&.active {
			color: $white;
			background: $diff_blue;
			border: 1px solid $diff_blue;
		}
		&:first-child {
			border-top-left-radius: 11px;
		}
		
		&:last-child {
			border-top-right-radius: 11px;
			@include media-breakpoint-up(lg) {
				border-top-right-radius: 11px;
			}
		}
		&.dropdown-toggle {
			border: 1px solid $diff_blue;
			background: $diff_blue;
			border-top-right-radius: 11px;
			color: $white;
			width: 100%;
			display: block;
			padding-left: 30px;
			padding-right: 30px;
		}
		@include media-breakpoint-up(lg) {
			flex-basis: auto;
			// margin-left: -1px;
		}
	} 
	&.final-expense {
		ul {
			padding-left: 1rem;
			margin-top: 1rem;
			margin-bottom: 2rem;
		}
		.blue-box {
			background: $light_gray;
			margin-bottom: 30px;
			padding: 10px 30px;
			.blue-box__list {
				padding-left: 0;
				display: flex;
				flex-wrap: wrap;
				li {
					list-style: none;
					padding-left: 0;
					margin-top: 20px;
					h4 {
						font-family: $lexend;
						text-transform: uppercase;
						font-weight: 600;
						font-size: 16px;
					}
					&:before {
						display: none;
						content: '';
					}
					ul {
						padding-left: 0;
						li {
							list-style: none;
							padding-left: 1rem;
							position: relative;
							margin-bottom: 1rem;
							margin-top: 0;
							&:before {
								content: '';
								height: 6px;
								width: 6px;
								border-radius: 100%;
								display: inline-block;
								background: $main_blue;
								margin-top: -1px;
								position: absolute;
								top: 10px;
								left: 0;
							}
						}
					}
					@include media-breakpoint-up(lg) {
						flex-basis: 50%;
					}
				}
			}
		}
	}
	.tab-content {
		h2 {
			font-size: 40px;
			line-height: 48px;
			font-family: $lexend;
			font-weight: normal;
			margin-bottom: 1rem;
			@include media-breakpoint-up(lg) {
				font-size: 40px;
				line-height: 48px;
			}
		}
		h3 {
			margin-top: 1.5rem;
			margin-bottom: 1.5rem;
			font-family: $lexend;
			@include media-breakpoint-up(lg) {
				font-size: 30px;
				line-height: 36px;
			}
		}
		h4 {
			font-weight: 600;
			// text-transform: uppercase;
			margin-bottom: 1rem;
			font-family: $lexend;
			font-size: 16px;
		}
		ul {
			li {
				list-style: none;
				padding-left: 1rem;
				position: relative;
				// margin-bottom: 1rem;
				&:before {
					content: '';
					height: 6px;
					width: 6px;
					border-radius: 100%;
					display: inline-block;
					background: $main_blue;
					margin-top: -1px;
					position: absolute;
					top: 10px;
					left: 0;
				}
			}
		}
	}
}

// Download moal
.download-modal {
	@extend .has-shadow;
	&.fade {
		.modal-dialog {
			-webkit-transition: opacity .2s linear, none;
			-moz-transition: opacity .2s linear, none;
			-ms-transition: opacity .2s linear, none;
			-o-transition: opacity .2s linear, none;
			transition: opacity .2s linear, none;
			transform: none;
		}
	}
	
	.modal-content {
		max-width: 600px;
		margin-left: auto;
		margin-right: auto;
		border-radius: 11px;
		.modal-header {
			align-items: center;
			border-bottom: 0;
			position: relative;
			.close {
				position: absolute;
				width: 40px;
				height: 40px;
				padding: 0;
				top: 20px;
				right: 20px;
				z-index: 1000;
				opacity: 1;
				&:focus {
					outline: none;
				}
				@include media-breakpoint-up(lg) {
					top: 30px;
					right: 30px;
				}
			} 
		}
		.modal-body {
			padding: 20px 20px;
			a:not(.download-btn) {
				color: $main_blue;
				border-bottom: 1px solid transparent;
				&:hover {
					text-decoration: none;
					border-bottom: 1px solid $main_blue;
				}
			}
			#gform_wrapper_2 {
				.gform_heading {
					text-align: center;
					.gform_title {
						font-family: $lexend;
						font-size: 30px;
						font-weight: 600;
						margin-bottom: 20px;
					}
				}
				.gform_body {
					.gform_fields {
						.gfield {
							padding-right: 0;
							max-width: 100% !important;
							.gfield_label {
								font-size: 12px;
								color: $gray;
								letter-spacing: 0;
								font-weight: 500;
								padding-left: 15px;
								margin-bottom: 0;
							}
							input {
								margin-top: 5px;
								border: 1px solid $medium_gray;
								padding: 8px 15px;
								font-size: 14px;
								color: $gray;
								border-radius: 3px;
								appearance: none;
								&:focus {
									outline: none;
								}
							}
						}
						.ginput_container {
							margin-top: 0;
							label {
								margin-bottom: 0;
								padding-left: 15px;
								font-size: 12px !important;
								color: $gray !important;
								letter-spacing: 0;
								font-weight: 500;
							}
						}
					}
				}
				.gform_footer {
					text-align: center;
					input[type=submit] {
						display: inline-block;
						background: $main_blue;
						color: $white;
						font-family: $lexend;
						padding: 10px 40px;
						margin: 0 auto;
						border: 1px solid transparent;
						border-radius: 3px;
						cursor: pointer;
						transition: all .1s ease-out;
						&:hover {
							transition: all .1s ease-out;
							border: 1px solid $main_blue;
							background: $white;
							color: $main_blue;
						}
					}
				}
			}
			.embed-responsive {
				margin-bottom: 0;
			}
			@include media-breakpoint-up(md) {
				padding: 40px 35px;
			}
		}
	}
}
.mission-value-container {
	
	.mission-value {
		width: 100%;
		float: none;
		// @include media-breakpoint-between(md, lg) {
		// 	width: 50%;
		// 	float: left;
		// }
	}

	@include media-breakpoint-between(md, lg) {
		margin-top: 40px;
	}
}

.embed-responsive {
	margin-bottom: 30px;
}
.video-modal {
	.modal-dialog {
		.modal-content {
			border-radius: 0;
			border: 0;
			.embed-responsive {
				margin-bottom: 0 !important;
			}
		}
	}
}